*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #ebebeb;
    text-align: center;
}


.header-content {
    text-align: center;
    font-family: helvetica;
}


.header-content-1{
    text-align: center;
    font-family: helvetica;
    padding-left: 60px;
}


.header-content-2{
    text-align: center;
    font-family: helvetica;
    padding-right: 60px;
}


.header-heading{
    font-weight: 100;
    font-size: 27px;
    letter-spacing: 0;
    margin: 10px 0 5px 0;
}


.header-heading1{
    font-weight: 100;
    font-size: 27px;
    letter-spacing: 0;
    margin: 10px 0 5px 0;
}

.header-heading2{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 70px;
}


.header-heading3{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.6px;
    margin-bottom: 90px;
}


.header-heading4{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}

.header-heading5{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}


h4{
    color: rgb(187, 39, 39);
}


span{
    font-size: 20px;
}


.header__nav{
    display: flex;
    justify-content: center; /*space between sends one element to one side,second element to the other side*/
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 12px;
}


.header__nav2{
    display: flex;
    justify-content: center; /*space between sends one element to one side,second element to the other side*/
    align-items: center;
    text-align: center;
    background-color: rgb(252, 249, 249);
    padding: 12px;
}


.nav{
    text-decoration: none;
}


.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 50px;
}


