*{
    margin: 0;
    padding: 0;
}

.table {
    align-items: center;
    border: 2px solid;
    margin-left: 5px;
    margin-top: 15px;
}
.list {
    margin-right: 50px;
    width: 100%;
    margin: 1%;
    
}
.column{
    display: flex;  
}
.list div{
    width: 70%;
    display: flex; 
    border: 1px solid aqua;
    margin-top: 3px;
}
.list1 {
    margin-right: 50px;
    width: 100%;
    margin: 1%;
}
.text{
    width: 40%;
    display: flex; 
    border: 1px solid aqua;
    margin-top: 3px;
    position: relative;
    padding: 10px;
}
