*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blocks{
    display : flex;
}

.blocks div{
    padding: 50px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

button{
    border: none;
    padding: 5px;
    margin: 10px;
    background-color: blue;
    color: #fff;
}