body{
    margin: 0;
    padding: 0;
    
}
.header{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    /* margin-left: 100px; */
}
.header div{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.header div ul{
    margin-right: 50px;
    color: rgb(26, 199, 26);
}

.header div ul li a{
    color: black;
    text-decoration: none;
    
}
.page1{
    background-color: rgb(235, 235, 235);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 0px solid rgb(235, 235, 235);
    padding-bottom: 100px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    margin-bottom: 20px;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text{
    font-size: 123px;
    font-weight: 560;
    font-family: Arial, Helvetica, sans-serif;
}
.text p {
    text-align: center;
    line-height: 109px;
    letter-spacing: -2px;
}
#block1{
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding-right: 45px;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    transform: rotate(-5deg);
}
#block2{
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding-right: 45px;
    padding-left: 20px;
    margin-top: 30px;

    margin-right: 20px;
    transform: rotate(5deg);
}
.div-block{
    display: flex;
    justify-content:center;
    margin-bottom: 100px;
}
#button1{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 6%, rgba(255,140,0,1) 95%);
    padding: 20px 80px 20px 80px;
    border: 0;
    border-radius: 17px;
    color: white;
}
.page2{
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 0px solid rgb(235, 235, 235);
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 10px;
}
#text1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.pages{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#text2{
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 100%;
    
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
}
.element1{
    display: flex;
    width: 80%;
    margin-bottom: 15px;
   
}
.element1 img{
    margin-right: 20px;
}
.nested-element1{
    background-color: white;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sub div{
    width: 100%;
    display: flex;
    justify-content: end;
}
.sub{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.nested-element1 div ul {
    color: green;
    margin-right: 30px;
}

#skoro{
    background-color: lightgray;
    color: darkgrey;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 15px;
}
#proekt{
    background-color: lightgray;
    color: black;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 15px;
}
#client{
    background-color: white;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 15px;
}
.elements {
    width: 80%;

}
.tag{
    background-color: rgb(191, 198, 255);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 13%;
    margin: 5px;
    
}
.tag5{
    background-color: rgb(191, 198, 255);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 24%;
    margin: 5px;
}
.tag2{
    background-color: rgb(255, 191, 191);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 17%;
    
    margin: 5px;
}
.tag p{
    text-align: center;
}
.tags{
    width: 100%;
    display: flex;
   
}
.tag3{
    background-color: rgb(180, 254, 254);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 13%;
    margin: 5px;
    align-self: center;
}
.tag4{
    background-color: rgb(80, 77, 246);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 10%;
    
    margin: 5px;
    align-self: center;
}
.tag6{
    background-color: rgb(7, 223, 137);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 20%;
   
    margin: 5px;
    align-self: center;
}
.tag7{
    background-color: rgb(255, 253, 135);
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    width: 20%;
   
    margin: 5px;
    align-self: center;
}
